@charset "utf-8";

/* 題名 */
.daimei {
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
}

/* 目次全体 */
.mokuzi-wrap {
  position: relative;
  width: fit-content;
  margin: 40px auto;
}

/* リスト共通 */
.mokuzi-list {
  list-style: none; /* 黒丸を消す */
  margin: 0;
  padding: 0;
}

.mokuzi-list li {
  padding: 0;
  text-align: center;
  border-top: 1px solid #000000;
}

/* リンク */
.mokuzi-list li a {
  display: block;            /* 行全体をクリック可能に */
  padding: 10px 0;
  text-decoration: none;
  color: #5b2aa6;          /*　文字の色　*/
  background: #FFFFFF;     /*　背景色　*/
  transition: 
    color 0.3s ease,
    background 0.3s ease;
}

.mokuzi-list li a:hover {
  opacity: 0.7;
  background: #CCCC00;
}

/* 目次ボタン */
.mokuzi-button {
  display: block;
  font-size: 50px;
  padding: 0px 200px 0px 200px;        /* 上　右　下　左 */
  border: 2px solid #FFD700;
  margin: 0 auto;
  background: #FFFFFF;
  cursor: pointer;
}

/* 枠の外に出るパネル */
.mokuzi-panel {
  position: absolute;
  top: 80%;                  /* 目次ボタンの下側 */
  left: 50%;
  transform: translateX(-50%) translateY(0px);

  width: 500px;
  border: 2px solid #000000;
  background: #fff;

  opacity: 0;                /* 最初は隠す */
  pointer-events: none;      /* ポインターイベントを無効化（クリックできなくする） */
  transition: opacity 0.5s ease, transform 0.5s ease;

  max-height: 40vh;          /* 画面の高さ40%まで */
  overflow-y: auto;          /* はみ出したら縦スクロール */
}

.mokuzi-wrap:hover .mokuzi-panel {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(10px);
}

/* スクロールバー全体（Chrome / Edge / Safari） */
.mokuzi-panel::-webkit-scrollbar {
  width: 20px;               /* 縦スクロールバーの太さ */
}

/* スクロールバー背景 */
.mokuzi-panel::-webkit-scrollbar-track {
  background: #000000;
}

/* つまみ */
.mokuzi-panel::-webkit-scrollbar-thumb {
  background: #FF3300;
  border-radius: 10px;
}

/* つまみホバー */
.mokuzi-panel::-webkit-scrollbar-thumb:hover {
  background: #FA8072;
}