@charset "utf-8";

/*　headerです　*/
.site-header{
    position: sticky;   /* まずは fixed じゃなく sticky */
    top: 0px;
    height: 150px;
    background: linear-gradient(#707070, #ffffff00);
    padding: 5px 20px;
    font-family: serif;
    z-index: 100;
}

.site-header a{
    text-decoration: none;
    color: #000;
    font-size: 50px;
}

.site-header a:hover{
    color: #FF0000;
}

@media (max-width: 640px) {
    .site-header{
        height: 60px;
    }
}