@charset "utf-8";

/*　headerです　*/
.site-header{
    position: sticky;   /* まずは fixed じゃなく sticky */
    top: 0px;
    height: 90px;
    background: #a9a9a9b3;
    padding: 5px 20px;
    font-family: serif;
    z-index: 100;
}

.site-header a{
    text-decoration: none;
    color: #000;
    font-size: 50px;
}

.site-header a:hover{
    color: #FF0000;
}