@charset "utf-8";

.daimei{
    font-family: serif;
    font-size: 100px;  
    font-weight: bold;
    text-align: center;
}

.mokuzi{
    display: block;    
    font-family: serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.chapter0, .part1, .part2, .part3, .part4, .part5{
    display:block;
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-left: 30px;
}

.chapter{
    display:block;
    font-family: serif;
    font-size: 20px;
    margin: 30px;
}

a{
    text-decoration: none;
    color: #000000;

    transition: color 0.3s ease;
}

a:hover{
    color: #6fa8be;    
} 

html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body{
    background-image: url("bg_paper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(max-width: 640px){
    .mokuji{
        font-size: 25px;
        margin-bottom: 30px;
    }

    .chapter0, .part1, .part2, .part3, .part4, .part5{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
    }

    .chapter{
        font-size: 15px;
        margin: 20px;
    }

    .text{
        font-size: 18px;
    }

    .textCenter{
        font-size: 18px;
    }
}