@charset "utf-8";

.title{
    font-family: "ＭＳ Ｐ明朝";
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.chapter{
    font-family: "ＭＳ Ｐ明朝";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}

.text{
    font-family: "ＭＳ Ｐ明朝";
    font-size: 20px;
    line-height: 25px;
    margin: 20px;
}

.textCenter{
    font-family: "ＭＳ Ｐ明朝";
    font-size: 20px;
    text-align: center;
}

.subtext{
    font-family: "ＭＳ Ｐ明朝";
    font-size: 15px;
    color: rgb(100, 100, 100);
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

@media(max-width: 640px){
    .title{
        font-size: 40px;
        margin-bottom: 30px;
    }

    .text{
        font-size: 18px;
    }

    .textCenter{
        font-size: 18px;
    }
}