@charset "utf-8";

.title{
    font-family: serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.chapter{
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}

.text{
    font-family: serif;
    font-size: 20px;
    line-height: 25px;
    margin: 20px;
}

.textCenter{
    font-family: serif;
    font-size: 20px;
    text-align: center;
}

.subtext{
    font-family: serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    
    transition: color 0.3s ease;
}

a:hover{
    color: #6fa8be;
}

/* アンカーで飛んだ時に、上に少し余白を作る */
.chapter[id]{
  scroll-margin-top: 150px; /* 24〜80pxくらいで調整 */
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body{
    background-image: url("bg_paper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
  margin: 0 0 10px 0; /* 段落の下に少し余白 */
}


@media(max-width: 640px){
    .title{
        font-size: 40px;
        margin-bottom: 30px;
    }

    .text{
        font-size: 18px;
    }

    .textCenter{
        font-size: 18px;
    }
}